In [3]:
from dotenv import load_dotenv
import os
import replicate
load_dotenv()

True

In [4]:
replicate_key = os.getenv('REPLICATE_API_TOKEN')

In [5]:
import pandas as pd

## data loading

In [6]:
styles = pd.read_csv('final_data.csv')

In [7]:
styles

,Unnamed: 0,filename,link,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,0,15970.jpg,http://assets.myntassets.com/v1/images/style/p...,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,1,39386.jpg,http://assets.myntassets.com/v1/images/style/p...,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,2,59263.jpg,http://assets.myntassets.com/v1/images/style/p...,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,3,21379.jpg,http://assets.myntassets.com/v1/images/style/p...,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,4,53759.jpg,http://assets.myntassets.com/v1/images/style/p...,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44074,44441,17036.jpg,http://assets.myntassets.com/v1/images/style/p...,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44075,44442,6461.jpg,http://assets.myntassets.com/v1/images/style/p...,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44076,44443,18842.jpg,http://assets.myntassets.com/v1/images/style/p...,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44077,44444,46694.jpg,http://assets.myntassets.com/v1/images/style/p...,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44078,44445,51623.jpg,http://assets.myntassets.com/assets/images/516...,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [8]:
styles.masterCategory.unique()

array(['Apparel', 'Accessories', 'Footwear', 'Personal Care',
       'Free Items', 'Sporting Goods', 'Home'], dtype=object)

In [9]:
styles[styles['id']==9204]

,Unnamed: 0,filename,link,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
10,10,9204.jpg,http://assets.myntassets.com/v1/images/style/p...,9204,Men,Footwear,Shoes,Casual Shoes,Black,Summer,2011.0,Casual,Puma Men Future Cat Remix SF Black Casual Shoes

In [10]:
style_dict = styles[styles['id'] == 9204].to_dict(orient='records')[0]

In [11]:
style_dict

{'Unnamed: 0': 10,
 'filename': '9204.jpg',
 'link': 'http://assets.myntassets.com/v1/images/style/properties/051d64772f1b38ff476fbf0a807f365a_images.jpg',
 'id': 9204,
 'gender': 'Men',
 'masterCategory': 'Footwear',
 'subCategory': 'Shoes',
 'articleType': 'Casual Shoes',
 'baseColour': 'Black',
 'season': 'Summer',
 'year': 2011.0,
 'usage': 'Casual',
 'productDisplayName': 'Puma Men Future Cat Remix SF Black Casual Shoes'}

## ref image

In [14]:
from IPython.display import Image
Image(url=style_dict['link'])

In [15]:
!ls

README.md      final_data.csv main.ipynb     pyproject.toml styles2.csv
__pycache__    images.csv     main.py        replicate_1.py uv.lock
example.jpeg   img2.csv       model.jpg      styles.csv

## model image

In [17]:
Image(url='model.jpg')

In [18]:
example = open('model.jpg', 'rb')

In [19]:
input = {
    "garm_img": style_dict['link'],
    "human_img": example,
    "garment_des": style_dict['baseColour']+' '+style_dict['articleType']
}

In [20]:
input

{'garm_img': 'http://assets.myntassets.com/v1/images/style/properties/051d64772f1b38ff476fbf0a807f365a_images.jpg',
 'human_img': <_io.BufferedReader name='model.jpg'>,
 'garment_des': 'Black Casual Shoes'}

In [21]:
output = replicate.run("cuuupid/idm-vton:0513734a452173b8173e907e3a59d19a36266e55b48528559432bd21c7d7e985", input=input)

In [24]:
output

In [25]:
with open("output.jpg", "wb") as file:
    file.write(output.read())

In [26]:
Image(url='output.jpg')